<ion-header>
	<ion-navbar color="primary">
	  <ion-title>
	    Sign Up
	  </ion-title>
	  <ion-buttons start>
	  	<button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
	  </ion-buttons>
	  <ion-buttons end>
	  	<button ion-button icon-right (click)="next()">Next <ion-icon name="arrow-forward"></ion-icon></button>
	  </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-slides #signupSlider pager>

	  <ion-slide>

		<p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

		<ion-list no-lines>

			<form [formGroup]="slideOneForm">

				<ion-item>
					<ion-label floating>First Name</ion-label>
					<ion-input formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
				</ion-item>

				<ion-item *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || submitAttempt)">
					<p>Please enter a valid name.</p>
				</ion-item>

				<ion-item>
					<ion-label floating>Last Name</ion-label>
					<ion-input formControlName="lastName" type="text" [class.invalid]="!slideOneForm.controls.lastName.valid && (slideOneForm.controls.age.dirty || submitAttempt)"></ion-input>
				</ion-item>

				<ion-item *ngIf="!slideOneForm.controls.lastName.valid  && (slideOneForm.controls.lastName.dirty || submitAttempt)">
					<p>Please enter a valid name.</p>
				</ion-item>

				<ion-item>
					<ion-label floating>Age</ion-label>
					<ion-input formControlName="age" type="number" [class.invalid]="!slideOneForm.controls.age.valid && (slideOneForm.controls.age.dirty || submitAttempt)"></ion-input>
				</ion-item>

				<ion-item *ngIf="!slideOneForm.controls.age.valid  && (slideOneForm.controls.age.dirty || submitAttempt)">
					<p>Please enter a valid age.</p>
				</ion-item>

			</form>

		</ion-list>

	  </ion-slide>

	  <ion-slide>

		<ion-list no-lines>

			<form [formGroup]="slideTwoForm">

				<ion-item>
					<ion-label floating>Username</ion-label>
					<ion-input [class.invalid]="!slideTwoForm.controls.username.valid && (slideTwoForm.controls.username.dirty || submitAttempt)" formControlName="username" type="text"></ion-input>
				</ion-item>

				<ion-item *ngIf="slideTwoForm.controls.username.pending">
					<p>Checking username...</p>
				</ion-item>

				<ion-item *ngIf="!slideTwoForm.controls.username.valid && !slideTwoForm.controls.username.pending && (slideTwoForm.controls.username.dirty || submitAttempt)">
					<p>Sorry, that username can not be used!</p>
				</ion-item>

				<ion-item>
					<ion-label floating>Privacy</ion-label>
					<ion-select [class.invalid]="!slideTwoForm.controls.privacy.valid && (slideTwoForm.controls.privacy.dirty || submitAttempt)" formControlName="privacy">
						<ion-option value="public" checked="true">Public</ion-option>
						<ion-option value="friends">Friends Only</ion-option>
						<ion-option value="private">Private</ion-option>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-label floating>Bio</ion-label>
					<ion-textarea formControlName="bio"></ion-textarea>
				</ion-item>

			</form>

		</ion-list>

		<button ion-button full color="primary" (click)="save()">Create Account!</button>

	  </ion-slide>

	</ion-slides>

</ion-content>